@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h4>Add an Engineer to operate this machine: <small class="text-muted">@Html.DisplayFor(model => model.Name)</small></h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.MachineId)

    @Html.Label("Select an Engineer to operate this machine")
    @Html.DropDownList("EngineerId")

    <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to list", "Index")</p>