@{
  Layout = "_Layout";
}
@using Factory.Models
@model Factory.Models.Machine

<h2>Machine Details</h2>
<hr />
<h4>@Html.DisplayNameFor(model => model.Name): <small class="text-muted">@Html.DisplayFor(model => model.Name)</small></h4>

<h4>Details: <small class="text-muted">@Html.DisplayFor(model => model.MachineDetails)</small></h4>

<h3>machines </h3>
@if(@Model.JoinEntities.Count == 0)
{
  <p>This machine does not have any engineers assigned yet!</p>
}
else
{
  <h4>The following engineers may work with this machine:</h4>
  <ul>
    @foreach(EngineerMachine join in Model.JoinEntities)
    {
      <li>Engineer: @join.Engineer.Name</li>
      @using (Html.BeginForm("DeleteJoin", "Machines"))
      {
        <p>@Html.ActionLink("Delete this machine", "Delete", new { id = Model.MachineId })</p>
        @* @Html.Hidden("joinId", @join.EngineerMachineId) *@
        <input type="submit" value="Delete"/>
      }
    }
  </ul>
  
}

<p>@Html.ActionLink("Add an Engineer", "AddEngineer", new { id = Model.MachineId })</p>
<p>@Html.ActionLink("Back to list", "Index")</p>
<p>@Html.ActionLink("Edit Machine Name or Details", "Edit", new { id = Model.MachineId })</p>
 <p>@Html.ActionLink("Delete this machine", "Delete")</p>

<a href="/Machines">Back to List</a>
<br>
<a href="/">Home</a>