@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<h3>Add a machine</h3>

<h4>Add a machine to the profile for this Engineer: <small class="text-muted">@Html.DisplayFor(model => model.Name)</small></h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.EngineerId)

    @Html.Label("Select a machine")
    @Html.DropDownList("MachineId")

    <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to list", "Index")</p>