@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<h4>Add a new Engineer</h4>

<p>Go to @Html.ActionLink("this page", "Create", "Machines") to add a machine.</p>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)
  
  @Html.LabelFor(model => model.EngineerDetails)
  @Html.TextBoxFor(model => model.EngineerDetails)

  @* @Html.LabelFor(model => model.Machines)
  @Html.DropDownList("MachineId") *@

  <input type="submit" value="Add new item" class="btn btn-default" />
}
<p>@Html.ActionLink("Show all Engineers", "Index")</p>
